// sections layout
.story_card {
  border-bottom: 8px solid #222;
  padding: 70px 45px;

  .story_card_title {
    font-size: 3.125rem;
    line-height: 1.1;
  }

  .story_card_subtitle {
    font-size: 1.625rem;
    margin: 1rem auto;
    font-weight: 400;
  }
}
