.featured_bg {
  display: flex;
  flex-direction: column;
  background: url('../../../assets/film_bg.jpeg') left top / cover no-repeat;
  height: 100vh;
  background-size: 100%;

  &:before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-image: linear-gradient(to bottom, #231f20, #000000);
    opacity: 0.3;
  }

  .featured_content {
    z-index: 998;
    width: 50%;
    margin: 0px 5%;
    min-height: 40vh;
    display: flex;
    flex-direction: column;
    justify-content: center;

    .featured_img_container {
      img {
        width: 100%;
      }
    }
  }
}
