// btns
@mixin btn() {
  background-color: $color-red;
  cursor: pointer;
  border: 0;
  color: $color-white;
}

$breakpoints: (
  'xs': 0,
  'sm': 550px,
  'form_txt': 400px,
  'md': 750px,
  'lg': 950px,
  'xl': 1450px,
);

// Home Text Title

@mixin smallDevices {
  @media (max-width: map-get($breakpoints, 'sm')) {
    @content;
  }
}

@mixin monitor {
  @media (min-width: map-get($breakpoints, 'sm')) and (max-width: map-get($breakpoints, 'lg')) {
    @content;
  }
}

@mixin mediumDevices {
  @media (min-width: map-get($breakpoints, 'sm')) and (max-width: map-get($breakpoints, 'xl')) {
    @content;
  }
}

@mixin formTxt {
  @media (min-width: map-get($breakpoints, 'form_txt')) and (max-width: map-get($breakpoints, 'lg')) {
    @content;
  }
}

@mixin xs {
  @media (min-width: map-get($breakpoints, 'xs')) {
    @content;
  }
}

@mixin sm {
  @media (min-width: map-get($breakpoints, 'sm')) {
    @content;
  }
}

@mixin sm-max {
  @media (max-width: map-get($breakpoints, 'sm')) {
    @content;
  }
}

@mixin md {
  @media (min-width: map-get($breakpoints, 'md')) {
    @content;
  }
}

@mixin md-max {
  @media (max-width: map-get($breakpoints, 'md')) {
    @content;
  }
}

@mixin lg {
  @media (min-width: map-get($breakpoints, 'lg')) {
    @content;
  }
}
@mixin lg-max {
  @media (max-width: map-get($breakpoints, 'lg')) {
    @content;
  }
}

@mixin xl-max {
  @media (max-width: map-get($breakpoints, 'lg')) {
    @content;
  }
}

@mixin xl {
  @media (min-width: map-get($breakpoints, 'xl')) {
    @content;
  }
}

@mixin breakpoint($bp: 0) {
  @media (min-width: $bp) {
    @content;
  }
}
