.cta_form {
  z-index: 999;
  max-width: 1500px;
  padding-top: 0.8rem;

  h3 {
    padding: 0 2%;
    max-width: 450px;
    margin: 0 auto;
    font-weight: 400;

    @include lg {
      max-width: none;
      padding-bottom: 20px;
      font-size: 1.2rem;
    }

    @include formTxt {
      padding: 0 10%;
    }
  }

  .cta_form_lockup {
    display: flex;
    margin: 0 auto;
    max-width: 1000px;
    align-items: center;

    @include lg-max {
      flex-direction: column;
      max-width: 500px;
    }

    label {
      @include md-max {
        min-width: 100%;
        width: 100%;
      }
    }

    input {
      padding: 20px 10px;
      height: 60px;
      min-width: 450px;

      @include md-max {
        height: 48px;
        min-width: 100%;
        width: 100%;
      }

      @include xl-max {
        margin: 10px auto;
      }

      @include lg {
        margin: 10px auto;
        -webkit-border-bottom-right-radius: 0;
        -moz-border-radius-bottomright: 0;
        border-bottom-right-radius: 0;
        -webkit-border-top-right-radius: 0;
        -moz-border-radius-topright: 0;
        border-top-right-radius: 0;
        border-right: 1px solid #333;
      }
    }
    input::placeholder {
      color: $place_label;
      font-size: 15px;
    }
  }

  .cta_submit_btn_container {
    margin-bottom: 0.27rem;
    @include lg {
      align-items: center;
      margin-top: 0.4rem;
    }

    button {
      display: flex;
      align-items: center;
      @include btn;

      @include lg {
        -webkit-border-bottom-left-radius: 0;
        -moz-border-radius-bottomleft: 0;
        border-bottom-left-radius: 0;
        -webkit-border-top-left-radius: 0;
        -moz-border-radius-topleft: 0;
        border-top-left-radius: 0;
        border-left: 1px solid #333;
        font-size: 1.625rem;
        min-height: 60px;
        padding: 0 1em;
      }

      @include lg-max {
        font-size: 1rem;
        min-height: 40px;
        padding: 0 1em;
      }

      .chevron-right-arrow {
        padding-top: 0.5rem;

        @include lg-max {
          padding-top: 0.25rem;
        }
      }

      .cta-btn-txt {
        padding: 0.5rem 0;
      }

      // @include lg {
      //   font-size: 1rem;
      //   min-height: 40px;
      // }
    }
  }
}
