.cta_form {
  position: relative;
  text-align: center;
  z-index: 999;
  max-width: 1500px;
  padding-top: 0.85rem;

  h3 {
    max-width: none;
    padding-bottom: 20px;
    font-weight: 400;
    font-size: 1.2rem;

    @include lg {
      padding: 0 10%;
    }
  }

  .cta_form_content {
    display: flex;
    justify-content: center;
    margin: 0 auto;
    max-width: 1000px;

    @include lg {
      flex-direction: column;
    }

    .cta_input_container {
      span {
        position: absolute;
        font-size: 16px;
        top: 1%;
        // left: 10px;
        color: #8c8c8c;
      }
      input {
        height: 60px;
        min-width: 450px;
        -webkit-border-bottom-right-radius: 0;
        -moz-border-radius-bottomright: 0;
        border-bottom-right-radius: 0;
        -webkit-border-top-right-radius: 0;
        -moz-border-radius-topright: 0;
        border-top-right-radius: 0;

        @include md {
          height: 48px;
        }

        @include lg {
          margin: 10px auto;
        }
      }
    }

    .cta_submit_btn_container {
      @include lg {
        margin-top: 0.4rem;
      }

      button {
        @include btn;
        border-left: 1px solid #333;
        -webkit-border-bottom-left-radius: 0;
        -moz-border-radius-bottomleft: 0;
        border-bottom-left-radius: 0;
        -webkit-border-top-left-radius: 0;
        -moz-border-radius-topleft: 0;
        border-top-left-radius: 0;
        font-size: 1.625rem;
        min-height: 60px;
        box-shadow: 0 1px 0 rgb(0, 0, 0 / 45%);
        padding: 0 1rem;

        @include lg {
          font-size: 1rem;
          min-height: 40px;
        }
      }
    }
  }
}

// :hover
// :dry code
// before / after
// line up input and arrow
// place holder absolute
