.home_header_wrapper {
  position: absolute;
  z-index: 10;
  max-width: 1920px;
  margin: 0 auto;
  padding-top: 20px;
  width: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 5rem;

  @include mediumDevices {
    height: 4rem;
  }
  @include smallDevices {
    height: 45px;
  }

  .home_header {
    margin: 0 45px;

    @include smallDevices {
      margin: 0 5%;
    }

    .svg-nfLogo {
      height: 45px;
      width: 145px;
      padding-top: 0.5rem;

      @include smallDevices {
        height: 35px;
      }
    }

    .authLinks {
      @include btn;
      line-height: normal;
      padding: 7px 17px;
      font-weight: 400;
      font-size: 1rem;
      float: right;
      border-radius: 3px;
      margin-top: 0.5rem;

      @include smallDevices {
        font-size: 0.9rem;
        margin-top: 0.6rem;
        padding: 0.25rem 0.5rem;
      }
    }
  }
}
