.jumbo_card_container {
  max-width: 1100px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;

  @include lg-max {
    flex-direction: column !important;
  }

  .jumbo_card_img_container {
    width: 48%;
    height: 100%;

    @include lg-max {
      width: 100%;
      max-width: 600px;
    }

    .jumbo_card_animation_container {
      min-height: 100px;
      width: 100%;
    }

    img {
      max-width: 100%;
      height: auto;
      border: 0;
    }
  }

  .jumbo_card_text {
    width: 52%;
    height: 100%;

    @include lg-max {
      padding: 0;
      text-align: center;
      width: 100%;
    }

    .jumbo_card_title {
      line-height: 1.1;
      font-size: 3.125rem;
      margin-bottom: 0.5rem;

      @include smallDevices {
        font-size: 1.625rem;
      }

      @include mediumDevices {
        font-size: 2.5rem;
      }

      @include xl {
        font-size: 3.125rem;
      }
    }

    .jumbo_card_subtitle {
      margin: 1rem auto;
      font-weight: 400;

      @include smallDevices {
        font-size: 1.125rem;
      }

      @include mediumDevices {
        font-size: 1.25rem;
      }

      @include xl {
        font-size: 1.625rem;
      }
    }
  }
}

$jumbo-padding-text: (0 3rem 0 0, 0 0 0 3rem, 0 3rem 0 0, 0 0 0 3rem);
@for $i from 1 to 5 {
  .padding_placement_#{$i} {
    padding: nth($jumbo-padding-text, $i);
  }
}

// $margin-size: (0 0 0 3rem, 0 3rem 0 0, 0 0 0 3rem, 0 3rem 0 0);

// @for $i from 1 to 5 {
//   .jumbo_card_animation_container_#{$i} {
//     padding: nth($margin-size, $i);
//   }
// }
